@charset "UTF-8";
body{
    font-family:Titillium Web;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
#leaderboard{
    margin:0;
    padding:0;
    width: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
#leaderboardTable{
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}
#leaderboardTable td{
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}
.clearedBoard{
    background: #ebff89; /* Old browsers */
    background: -moz-linear-gradient(top, #ebff89 0%, #fff832 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebff89), color-stop(100%,#fff832)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ebff89 0%,#fff832 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ebff89 0%,#fff832 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ebff89 0%,#fff832 100%); /* IE10+ */
}
.seed:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.seed:active{
    background-color: #AAAAAA;
}